##################### Configutaion file for CDP Initilization Set up ######################

#################### Project Configuration paramters #########################

ProjectId=cdp-demo-205604
ProjectName=cdp-demo

#################### Big Table Configuration paramters #######################

instance=cdp-dev-bigt-ins
cluster=cdp-dev-bigt-cluster
cluster_zone=us-central1-a
instance_type=DEVELOPMENT
cluster_num_nodes=3
description=cdp-dev-bigt-ins-cluster
cluster_storage_type=SSD


################### Deployment Manager parameters ###########################

deployment_name=cdp-dev-deploy-bt-test
deployment_config_file=cdp-dev-deploy.yml
